@model BlogNetCore.MVC.Models.PostListByCategoryViewModel

@{
    ViewBag.Title = "Post List";
}

<div class="card mt-3 mb-2">
    <h5 class="card-header text-white bg-success">Post by <span class="badge badge-dark">@Model.Category.Name</span></h5>
    <div class="card-body">
        <div>@Model.Category.Description</div>
    </div>
</div>
@if (Model.PostList.Count() == 0)
{
    <div class="mt-3 mb-2">
        <h5 class="card-body">There are no posts belong to this category yet</h5>
    </div>
}
else
{
    <partial name="_PostList" for="PostList" />
}
