@model BlogNetCore.MVC.Models.PostEditViewModel

@{
    ViewData["Title"] = "Edit Post";
}
@inject UserManager<User> UserManager

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <form asp-action="EditPost">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Post.Title" class="control-label"></label>
            <input asp-for="Post.Title" class="form-control" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.Description" class="control-label"></label>
            <textarea asp-for="Post.Description" class="form-control"></textarea>
            <span asp-validation-for="Post.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Post.CategoryName">Category</label>
            <select asp-for="Post.CategoryId" class="form-control">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Post.Content" class="control-label"></label>
            <textarea asp-for="Post.Content" class="form-control" id="txtCKEditor"></textarea>
            <span asp-validation-for="Post.Content" class="text-danger"></span>
        </div>

        <input asp-for="Post.Id" type="hidden" />
        <input asp-for="Post.ImagePath" type="hidden" />
        <input asp-for="Post.AuthorId" type="hidden" value="@UserManager.GetUserId(User)" />

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var editor = CKEDITOR.replace("txtCKEditor", {
            customConfig: 'config.js',
        });
    </script>
}
